<h1>Bag </h1>

<div id="card">
    {{#if courses.length }}

        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Count</th>
                <th>Actions</th>
            </thead>
            <tbody>
            {{#each courses}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{count}}</td>
                    <td>
                        <button class="btn btn-small js-remove" data-id="{{id}}" data-csrf="{{@root.csrf}}">Remove
                        </button>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>

        <p><strong>Purchase Price:</strong> <span class="price">{{price}}</span></p>

        <form action="/orders" method="post">
            <input type="hidden" name="_csrf" value="{{csrf}}">
            <button type="submit" class="btn"> To Order</button>
        </form>
    {{else}}
        <p>Your Bag is empty</p>
    {{/if}}
</div>