<h1>Bag </h1>

<div id="card">
    {{#if courses.length }}

        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Count</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {{#each courses}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{count}}</td>
                    <td>
                        <button class="btn btn-small js-remove" data-id="{{id}}">Remove</button>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>

        <p><strong>Purchase Price:</strong> <span class="price">{{price}}</span></p>
    {{else}}
        <p>Your Bag is empty</p>
    {{/if}}
</div>